{% extends "store/base.html" %}
{% load static %}
{% block content %}
    <div class="section-p1">
        <h2>Checkout Page </h2> 
        <div class="wrap_ckout">
            <div class="left-ckout"> 
                <label for="ck_first_name">First Name</label>
                <input id="ck_first_name" type="text" disable></input>

                <label for="ck_last_name">Last Name</label>
                <input id="ck_last_name" type="text" disable></input>
            <div>

            <div class="left-ckout"> 
                    <p> {% lorem 100 w random %}</p>
            <div>
        <div> 
    </div>
{% endblock content%}