{% extends "store/base.html" %}
{% load static %}
{% block content %}
<div style="margin-top:10px"> 
    <div style="margin-left:80px;" class="link_nav">
        <a href="{% url 'store-home' %}">Home/</a>
        <a href="{% url 'store-categories'%}">Categories/</a>
        <a href="{% url 'categoriesview' products.category.slug %}">{{products.category.name}}-Products/</a>
        <a href="{% url 'productview' products.category.slug products.slug %}">{{products.name}}</a>
    </div>
</div>

<div class="section-p1">
    <div class="wrap product_data">
        <div class='prod_img'>
            <img class="side_img" src="{{ products.product_image.url }}" alt="product-image">
        </div>

        <div class="prod_details">
            <h3>{{products.name}}</h3>
            <p  class="small_description">{{products.small_description}} </p>
            <hr>
            <p class="prod_description">{{products.description}}</p>
            <div class="seller-info" style="margin-top:15px;">
                <p>Seller</p>
                <img src="{{products.author.account.image.url }}" width="50px" height="50px" style="border-radius:50%; margin-top:15px;">
                <a href="{% url 'public-seller-profile' products.author.pk %}"><p>{{ products.author }} </p></a>
            </div>
            <div class="prices">
                <p class="price"> Original Price: $ {{ products.original_price }} </p> 
            </div>
            <div class="quantity">
                {% csrf_token %}
                <input class="id_prod" type='hidden' value="{{ products.id }}">
                <label for="Quantity"> Quantity</label>
                <div class="buttons"> 
                    <button class= "but decreaseValue"> - </button>
                    <input type="text" name="quantity" value=0 class="quan_input" id="number"> 
                    <button class= "but increaseValue"> + </button>
                </div>
            </div>
            {% if products.quantity > 0 %}
                {# Cart Section #}
                <div class="cart_button">
                    <button class="add_cart" id="addToCartBtn">Add to Cart <i class="fa fa-shopping-cart"> </i></button>
                </div>

                {# Bid Section #}
                {% if products.bid_status == 0 %}
                    <div class="bid_section">
                        <p class="bid_price"> Bid Starting Price: <strong> $ {{ products.bid_starting_price }} </strong></p> 
                        <p>Current Bid: <strong> $ {{ products.bid_current_price }} </strong> </p>
                        <div>
                            <label for="user_bid_amount">Enter Bid Amount:</label>
                            <input type="text" name="user_bid_amount" id="user_bid_amount"> <label>Please enter more than {{ products.bid_current_price|default_if_none:products.bid_starting_price }}</label>
                        </div>
                        <button class="bid_btn" id="bidbtn">Place Bid <i class="fa fa-gavel"> </i></button>
                    </div>
                {% endif %}
            {% else %}
                <p class="not_avail">Item is Not available now!</p>
            {% endif %}
                
                {% if user == products.author%}
                <button class="add_cart" id=""> <a href= "{% url 'product-delete' products.id %}"> Delete <i class=""> </a></button>
                {% endif %}
                <p> {{ products.id }} </p> 

                <div class="report_prod">
                    <button class="rep_prod_btn"><a href="#demo-modal"><i class="fa-solid fa-flag"></i> Report Product</a></button>
    
                    <div id="demo-modal" class="modal">
                        <div class="modal__content">
                            <div class="review_header"><h3>Write Your Report</h3></div>
                            <form method="POST" action="{% url 'submit_report' products.slug %}" class="review_rate_form">
                                {% csrf_token %}    
                                <div>
                                    <label for="subject">Report Title </label>
                                    <input type="text" class="review_subject" name="subject">
                                    <br> 

                                    <label for="body">Write Report </label>
                                    <textarea name="body" class="review_review" rows="4" maxlength=""></textarea>
                                    <br>
                                    <br>
                                    <input type="submit" class="review_submit" value="Submit Review">
                                </div>
                            </form>
                            <a href="#" class="modal__close">&times;</a>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
{% endblock content %}