.link_nav > a{
  text-decoration: none;
}
.cards{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.card{
  width: 260px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 30px 20px 34px rgba(0,0,0,0.03);
  border: 1px solid #e19948bd;
  border-radius: 4px;
  margin: 40px 10px; 
}
.card:hover{
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

.card img{
  max-width: 100%;   /*to make it responsive */ 
  margin-bottom: 10px;
  height: 200px; 
  object-fit: cover;
}
.cat_link{
  text-decoration: none;
  color: black;
}
.cat_link:visited{
  color: rgb(0, 0, 0);
}