{% extends "store/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="section-p1">
        <h2>Seller's Account</h2>
        <div class="buyer_account_page">
            <div class="buyer_profile">
                <div class="buyer_profile_detail">
                    <img src="{{ user.account.image.url }}"> 
                    <h2> {{ user.username }}</h2>
                    <p> {{ user.email }} </p>
                </div>
                <br>
                <ul class="buyer_account_options">
                    <li class="profile_active"><a href="{% url 'seller_account' %}"> Account <span> > </span></a></li>
                    <li><a href="{% url 'seller_listed_items' %}" > My Listed Itmes<span> > </span></a></li>
                    <li><a href="{% url 'manage_bids' %}" class=""> Manage Bids  <span> > </span></a></li>
                    <li><a href="{% url 'seller_sold_items' %}" class=""> Sold Itmes History  <span> > </span></a></li>
                </ul>
            </div>
            <div class="buyer_account_detail">
                <div id="get_profile_info">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset>
                            <legend> Account Info</legend>
                            {{ u_form | crispy }}
                            <br>
                            {{ p_form | crispy }}
                        </fieldset>
                        <button type="submit"> Update  </button> 
                    </form>
                </div>
            </div>
        <div>
    </div>
{% endblock content%}