{% extends "store/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="section-p1"> 
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                <legend> Join Today</legend>
                {{ form | crispy }}
            </fieldset>

            <button type="submit"> Submit </button> 
        </form>
        <div>
            {{form.errors}}
        </div>
        <br> 
        <small>
            <em>Already have an account? <a href="{% url 'login' %} ">Login </a></em>
        </small>
    <div>
{% endblock content %}