{% extends "store/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="section-p1">
        <div class="buyer_account_page">
            <div class="buyer_profile">
                <div class="buyer_profile_detail">
                    <img src="{{ user.account.image.url }}"> 
                    <h2> {{ user.username }}</h2>
                    <p> {{ user.email }} </p>
                </div>
                <br>
                <ul class="buyer_account_options">
                    <li><a href="{% url 'buyer_account' %}"> Account <span> > </span></a></li>
                    <li><a href="#" class=""> Change Password <span> > </span></a></li>
                    <li><a href="{% url 'buyer_deposit_money' %}" class=""> Deposit Money <span> > </span></a></li>
                    <li><a href="{% url 'buyer_purchase_history' %}" class=""> Purchase History <span> > </span></a></li>
                    <li  class="profile_active"><a href="{% url 'buyer_bidding_history' %}" class=""> Bidding History <span> > </span></a></li>
                </ul>
            </div>
            <div class="buyer_account_detail">
                <div id="get_profile_info">
                    {% if bids %}                    
                    {% for bid in bids %}
                        <div>
                            <h3> {{ bid.product.name }} <h3>
                            <p><a href="{% url 'productview' bid.product.category.slug bid.product.slug %}"> Update Bid </a></p>
                            <br>
                        </div>
                    {% endfor %}
                    {% else %}
                        <h2>No bids available</h2>
                    {% endif %}
                </div>
            </div>
        <div>
    </div>
{% endblock content%}