{% extends "store/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="section-p1">
<form method="POST">
    {% csrf_token %}
    <fieldset>
        <legend> Reset Password Complete</legend>
        <label for="pass_res_1"> Enter new password </label>
        <input type="password" name="pass_res_1">

        <label for="pass_res_2"> Re-enter Password </label>
        <input type="password" name="pass_res_2">

    </fieldset>
    
    <a href="{% url 'buyer_account' %}" <button type="submit"> Reset Confirm </button> </a> 
</form>
</div>
{% endblock content%}