{% extends "store/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="section-p1">
        <div class="buyer_account_page">
            <div class="buyer_profile">
                <div class="buyer_profile_detail">
                    <img src="{{ user.account.image.url }}"> 
                    <h2> {{ user.username }}</h2>
                    <p> {{ user.email }} </p>
                </div>
                <br>
                <ul class="buyer_account_options">
                    <li><a href="{% url 'buyer_account' %}"> Account <span> > </span></a></li>
                    <li class="profile_active"><a href="{% url 'password_reset' %}" class=""> Change Password <span> > </span></a></li>
                    <li><a href="{% url 'buyer_deposit_money' %}" class=""> Deposit Money <span> > </span></a></li>
                    <li><a href="{% url 'buyer_purchase_history' %}" class=""> Purchase History <span> > </span></a></li>
                    <li><a href="{% url 'buyer_bidding_history' %}" class=""> Bidding History  <span> > </span></a></li>
                </ul>
            </div>
            <div class="buyer_account_detail">
                <div id="get_profile_info">
                    <form method="POST">
                        {% csrf_token %}
                        <fieldset>
                            <legend> Reset Password</legend>
                            {{ form.as_p }}
                        </fieldset>
                        
                        <button type="submit"> Reset Password </button> 
                    </form>
                </div>
            </div>
        <div>
    </div>
{% endblock content%}